#variables for Skirmish

	#score to be reached to win
	score_cap = 8;

	#seconds before player times out on class selection (seconds)
	# local only
	classpick_secs = 5;

	#warmup time (seconds)
	warmup_secs = 3;

	#map round time (seconds)
	timeout_secs = 60;

	#seconds to display scores
	scores_secs = 5;

	#seconds to display scores when series ends
	endseries_secs = 8;

	#seconds before round ends after one player remains (to allow medkit saving)
	deadbuffer_secs = 3;

	#tip images, csv
	tips_files = overview_skirmish.png,tips_skirmish.png
