# KAG mapcycle;
# maps for capture the flag

mapcycle =
				#Char
			Maps/CTF/Community/Char_BattleForGranada.png;
			Maps/CTF/Community/Char_BattleShock.png;
			Maps/CTF/Community/Char_CrashSite.png;
			Maps/CTF/Community/Char_DistantLands.png;
			Maps/CTF/Community/Char_FallOut.png;
			Maps/CTF/Community/Char_FarBeneath.png;
			Maps/CTF/Community/Char_Garkin.png;
			Maps/CTF/Community/Char_GarmaStrikes.png;
			Maps/CTF/Community/Char_KingOfSpades.png;
			Maps/CTF/Community/Char_OverTaken.png;
			Maps/CTF/Community/Char_RatCaves.png;
			Maps/CTF/Community/Char_SharkPit.png;
			Maps/CTF/Community/Char_Side6.png;
			Maps/CTF/Community/Char_TheFlats.png;
			Maps/CTF/Community/Char_TheUprising.png;
			Maps/CTF/Community/Char_TheUnknown.png;
			Maps/CTF/Community/Char_WavesOfRage.png;
			Maps/CTF/Community/Char_ZakuBattlefield.png;