#note: shiprekt+ mapcycle is dynamic. it will use this list ony as fallback. set the map list on the script "SRRestartAfterShortPostGame.as"
mapcycle = 	
			Maps/Shiprekt/Clover.png;
			Maps/Shiprekt/CenterIsles5.png;
			Maps/Shiprekt/Tribute.png;
			Maps/Shiprekt/Bowllake.png;
			Maps/Shiprekt/Bowllake2.png;
			Maps/Shiprekt/Tow.png;
			Maps/Shiprekt/Hallway.png;
			Maps/Shiprekt/Lagoon.png;
			Maps/Shiprekt/Lagoon2.png;
			Maps/LandSlabs.png; 
			Maps/Lanes.png; 
			Maps/Startle.png; 
			Maps/Steer.png;
			Maps/Excellent.png;   

